<!DOCTYPE html>
<html>
  <head>
    <title>CARTASSIST</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}" />
    <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
    <script src="{{ url_for('static', filename='js/firebase.js') }}"></script>
  </head>
  <body>
    <header>
      <div class="title">
        <h1>CartAssist</h1>
      </div>

      <div class="main">
        <u1>
          <li><a href="/">Home</a></li>
          <li><a href="/store">Store</a></li>
          <li class="active"><a href="#">Access</a></li>
          <li><a href="/login">LogIn</a></li>
        </u1>
      </div>
    </header>

    <section>
      <table>
        <tr>
          <th>Store Number:</th>
          <td>
            <input type="text" id="store-num" name="store-num" />
          </td>
        </tr>
        <tr>
          <td>
            <input id="getemployees" type="button" onClick="getEmployees()" value="Get Employees" />
          </td>
          <td>
            <input id="addEmployee" type="button" onClick="employeeWindow()" value="Add Employee" />
          </td>
        </tr>
        <tr>
          <td colspan="2">*Employee Information Here*</td>
        </tr>
      </table>
      <table id="employee-table"></table>
      </script>
    </section>
  </body>
</html>
