<!DOCTYPE html>
<html>
  <head>
    <title>CARTASSIST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}" />
  </head>
  <body>
    <header>
      <div class="title">
        <h1>CartAssist</h1>
      </div>

      <div class="main">
        <u1>
          <li><a href="/">Home</a></li>
          <li class="active"><a href="#">Store</a></li>
          <li><a href="/access">Access</a></li>
          <li><a href="/login">LogIn</a></li>
        </u1>
      </div>
    </header>

    <section>
      <div class="form">
        <h2>Update: Store ##</h2>
        <form>
          <label for="carts">Carts Available</label><br />
          <input type="text" id="carts" name="carts" value="##" /><br /><br />
          <input type="submit" value="Update" />
        </form>
      </div>
    </section>
  </body>
</html>
