<!DOCTYPE html>
<html>
  <head>
    <title>CARTASSIST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}" />
    <script src="https://www.gstatic.com/firebasejs/3.3.2/firebase.js"></script>
    <script src="{{ url_for('static', filename='js/firebase.js') }}"></script>
  </head>
  <body>
    <header>
      <div class="title">
        <h1>CartAssist</h1>
      </div>

      <div class="main">
        <u1>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/store">Store</a></li>
          <li><a href="/access">Access</a></li>
          <li><a href="/login">LogIn</a></li>
        </u1>
      </div>
    </header>

    <section>
      <label id="auth-error" style="color: red;"></label>
      <table id="table"></table>
      <script>
        stores();
      </script>
    </section>
  </body>
</html>
